.services {
    color: #f63e7b;
}
.all-services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* margin-left: 180px; */
}
.a-card {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.a-card:hover,
.a-card:focus,
.a-card:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

@media only screen and (max-width: 480px) {
    .all-services {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
