.main-footer{
    width: 100%;
    height: 40vh;
    background-color: #f63e7b;
}
.mother-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
}
.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2em;
}
.link {
    text-decoration: none;
    color: #000;
}

@media screen and (max-width: 1366px){
    .main-footer{
    width: 100%;
    height: 50vh;
    background-color: #f63e7b;
}
}
