.mother-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
}
.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2em;
}
.link {
    text-decoration: none;
    color: #000;
}
