.pricing-main {
    width: 100%;
    height: 43vh;
    background-image: url("https://template.hasthemes.com/hopkins/hopkins/assets/img/extra/page-header.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.35;
}
.pricing-title {
    font-size: 5.5rem;
    color: black;
}
