.icon-img {
    width: 150px;
}
.my-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.links {
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    color: black;
    font-family: "Exo", sans-serif;
}

.links:hover {
    border-bottom: 3px solid black;
}
